body{
    background-color: whitesmoke;
}
.inputs{
    width: 400px;
    margin: 15px auto;
}
#RegistrationConatiner{
    padding-bottom: 30px;
     width: 500px;
     direction: rtl;
     margin-top: 30px;
     border:lightgray 1px solid;
     border-radius: 10px;
}